[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_A9AD649D4E4B333448202020FF0A0716-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 19 # update with offset from nozzle on your machine
contact_max_hotend_temperature: 180 # increase to probe at print temps
home_xy_position: 175, 175 # update with your safe position
home_z_hop: 5 # Distance to retract before x/y homing moves.
home_z_hop_speed: 30 # Retraction speed for z hop.
home_xy_move_speed: 300 # Speed for moving to home_xy_position.
home_method: proximity # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: never # contact will calibrate beacon on first home
mesh_main_direction: x
mesh_runs: 1
tc_amfg: 0.0

  ### beacon Macros
    
[gcode_macro _HOME_PRE_AXIS]
gcode:
  # Adapt this for your printer.
  {% set HOME_CURRENT = 0.5 %}
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

[gcode_macro _HOME_POST_AXIS]
gcode:
  {% set axis = params.AXIS %}
  {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
  {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}

  # Move away
  SAVE_GCODE_STATE NAME=home_post_axis
  G91
  G0 {axis}-10 F3600
  RESTORE_GCODE_STATE NAME=home_post_axis

  # Make sure StallGuard registers are cleared
  M400
  # Set current during print
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}


##Homing overide for extended beacon configuration. Add for use with low ooze filament and high temp contact.
#home_gcode_pre_x: _HOME_PRE_AXIS AXIS=X
#home_gcode_post_x: _HOME_POST_AXIS AXIS=X
#home_gcode_pre_y: _HOME_PRE_AXIS AXIS=Y
#home_gcode_post_y: _HOME_POST_AXIS AXIS=Y